# python builds.
*.pyc
*.egg-info
*/build/*

# datasets and logs.
dataset/*
!dataset/Readme.md

*/3_train/logs/*
*/3_train/mlruns/*
*/*/train_outputs/*

*/4_lite_model/mlruns/*
*/*/lite_outputs/*

src/train_outputs/*
src/mlruns/*
src/logs/*