.vscode

# python builds.
*.pyc
*.egg-info
*/build/*

# datasets and logs.
dataset/*
!dataset/Readme.md

# */mlruns/*
*/logs/*
*/models/*

# hyperparameters tuning history.
0_dev_notebooks/train_outputs/*/train_errors/*
0_dev_notebooks/mlruns/*/*/artifacts/*/train_errors
